*{
  margin: 0;
  padding: 0;
  background-color: #1e293b;
  color: white;
  font-size: 20px;
}

.form-data button {
  margin: 0 0 4rem 4rem;
}

form {
  margin: 0 0 4rem 4rem;
}
form input {
  width: 35vw;
}
form textarea {
  
  width: 35vw;
}
.display {
  margin: 0 0 4rem 4rem;
}

